/* Reset de margem e preenchimento */
* {
  background-color: #222;
  box-sizing: border-box;
  color: white;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* Ajuste de fonte */
:root {
  font-family: Arial, sans-serif;
}
